{% extends 'base.html' %}
{% block css %}
    <style>
        #love {
            width: 100px;
            height: 30px;
            line-height: 30px;
            color: #fff;
            text-align: center;
            background: #5cb85c url(/static{{ MEDIA_URL }}org/star-btn.png) no-repeat 5px center;
            text-indent: 15px;
            border-radius: 2px;
            cursor: pointer;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            background-color: brown;
            border: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12" style="padding-left: 2px;padding-right: 2px">
            <ol class="breadcrumb" style="margin:8px 0">
                <li><a href="">个人中心</a></li>
                <li class="active">{{ item_name }}</li>
            </ol>
        </div>
        <div class="col-md-3" style="padding-left: 2px;padding-right: 2px">
            <div class="list-group">
                <a id="personal_profile" href="{% url 'users:personal_profile' %}"
                   class="list-group-item">
                    &nbsp;个人资料
                </a>
                <a id="my_course" href="{% url 'users:my_course' %}"
                   class="list-group-item">
                    &nbsp;我的课程
                </a>
                <a id="my_love" href="{% url 'users:my_love_org' %}"
                   class="list-group-item">
                    &nbsp;我的收藏
                </a>
                <a id="my_message" href="{% url 'users:my_message' %}"
                   class="list-group-item">
                    &nbsp;我的消息
                </a>
            </div>
        </div>
        <div class="col-md-9" style="padding-left: 2px;padding-right: 2px">
            {% block right %}{% endblock %}
        </div>
    </div>
    {% block orgs_detail %}
    {% endblock %}
{% endblock %}
{% block js %}
    {% block right_js %}
    {% endblock %}
{% endblock %}